.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
inst/doc
/doc/
/Meta/
docs
rpt.Rcheck/
rpt*.tar.gz
rpt*.tgz
**/.quarto/
**/*.quarto_ipynb
vignettes/*.pdf
vignettes/*.tex
vignettes/*_files/
vignettes/*.html
vignettes/articles/*_files/
vignettes/articles/*.html
README.html

/.quarto/
altdoc/freeze.rds
*.Rout.save
*.Rout
_quarto/*
!_quarto/_freeze/
*.docx
*.knit.md
